server {
    listen      80;
    listen [::]:80; # For IPv6 connections

    # Listen on the www host
    server_name ~^(www\.)(?<domain>.+)$;

    include servers.d/inc/block;
    include servers.d/inc/limits;

    # Redirect to the non-www host (declared below)
    location / {
        return 301 $scheme://$domain$request_uri;
    }
}

server {
    listen      80 default_server;
    listen [::]:80 default_server; # For IPv6 connections

    # Catch all non-www domains
    server_name ~(?<domain>.+)$;

    include servers.d/inc/block;
    include servers.d/inc/limits;

    # Document root
    root /srv/http/$domain/www;

    # Logs
    access_log /var/log/nginx/server.dynamic.access.log;
    error_log  /var/log/nginx/server.dynamic.error.log;

    # Directory index
    index index.html;

    # Response headers
    include servers.d/inc/headers;

    # Rules for assets
    include servers.d/inc/assets;

    # Rules for crawlers
    location = /robots.txt {
        access_log off;

        # Choose:
        log_not_found off; # static
        #alias /etc/nginx/servers.d/files/no-robots.txt; # deny
    }

    # Very basic serving rules
    location / {
        try_files $uri $uri/ =404;
    }
}
