server {
    listen      80;
    listen [::]:80; # For IPv6 connections

    server_name www.example.com example.com;

    include servers.d/inc/block;
    include servers.d/inc/limits;

    # ACME challenge:
    # $ certbot certonly --webroot -w /var/lib/letsencrypt -d example.com,www.example.com
    include servers.d/inc/letsencrypt;
    # NOTE: If the challenge failed,
    #       check if the webroot has the correct permissions and
    #       '.well-known' directory. If you're not sure of it, do:
    #       $ cd /var/lib/letsencrypt
    #       $ sudo chgrp http .       # set group to 'http'
    #       $ sudo chmod g+s .        # and all the subsequent file/dir inherits it
    #       $ sudo mkdir .well-known  # create '.well-known' dir

    # Redirect to HTTPS
    location / {
        return 301 https://example.com$request_uri;
    }
}

server {
    listen      443 ssl http2;
    listen [::]:443 ssl http2; # For IPv6 connections

    server_name www.example.com;

    include servers.d/inc/block;
    include servers.d/inc/limits;

    # SSL certificate files
    ssl_certificate     /etc/letsencrypt/live/example.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;

    # SSL settings
    include servers.d/inc/ssl;
    include servers.d/inc/ocsp;

    # Redirect to the non-www host (declared below)
    location / {
        return 301 https://example.com$request_uri;
    }
}

server {
    listen      443 ssl http2;
    listen [::]:443 ssl http2; # For IPv6 connections

    server_name example.com;

    include servers.d/inc/block;
    include servers.d/inc/limits;

    # SSL certificate files
    ssl_certificate     /etc/letsencrypt/live/example.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;

    # SSL settings
    include servers.d/inc/ssl;
    include servers.d/inc/ocsp;

    # Document root
    root /srv/http/example.com/www;

    # Logs
    access_log /var/log/nginx/server.example.com.access.log detailed if=$_log;
    error_log  /var/log/nginx/server.example.com.error.log;

    # Directory index
    index index.html index.php;

    # Response headers
    include servers.d/inc/headers;

    # Rules for assets
    include servers.d/inc/assets;

    # Common WordPress settings
    #include servers.d/inc/wp;

    # Rules for crawlers
    location = /robots.txt {
        access_log off;

        # Choose:
        log_not_found off; # static
        #alias /etc/nginx/servers.d/files/no-robots.txt; # deny
        #alias /etc/nginx/servers.d/files/wp-robots.txt; # wordpress
    }

    # Very basic serving rules
    location / {
        # Choose:
        try_files $uri $uri/ =404; # static
        #try_files $uri $uri/ /index.php$is_args$args; # wordpress
    }
}
